body {
  background-color: #ffffff;
  color: #0C0C0C;
  line-height: 130%;
  font-size: 16px;
}

nav {
  background-color: #CC0000;
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}
a:link { color:#ffffff; } /* unvisited */
a:visited { color:#444444; } /* visited */
a:hover { color:#0c0c0c; } /* mouse over */
a:active { color:#444444; } /* selected */

h1 {
	font-size: 4em;
  line-height: 1.5em;
}

h3 {
	font-size: 2em;
  line-height: 1em;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
  padding-bottom: 8px;
}

.medium-pic {
  width: 70%;
  padding-bottom: 8px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.story-text {
    text-align: left;
    font-size: 1em;
  	line-height: 1.5em;
    padding-top: 16px;
  	padding-bottom: 16px;
}

p {
  margin-top: 1em;
}
